spring:
  application:
    name: see-battle
  profiles:
    active: dev
#  flyway:
#    locations: classpath:db/migration/h2
#    schemas: public

server:
  port: 8082
  servlet:
    session:
      timeout: 864000

logging:
  level:
    root: info

---
spring:
  profiles: dev
