body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mt-10 {
    margin-top: 10px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}

.cell-text {
    padding-top: 12px;
}
.cell-base {
    color: silver;
    background-color: azure;
    font-size: 20px;
    border: 1px solid silver;
    border-radius: 4px;
    min-width: 30px;
    height: 40px;
}
.cell-ship {
    color: yellow;
    background-color: cadetblue;
    box-shadow: 2px 2px grey;
}
.cell-ship-wounded {
    color: white;
    background-color: coral;
    box-shadow: 2px 2px grey;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.cell-ship-killed {
    color: white;
    background-color: crimson;
    box-shadow: 2px 2px grey;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.cell-no-ship-hit {
    color: black;
}
.cell-disabled {
    background-color: ghostwhite;
}
.cell-killed-ship-neighbor {
    background-color: #dfefef;
}
